<div *ngIf="student">
  <h2 class="list-group-item list-group-item-action flex-column align-items-start">{{student.indeks}} details!</h2>
  <div class="container-fluid"><br/>
    <label class="control-label">ime: </label> {{student.ime}}
  </div>
  <div class="container-fluid">
    <label class="control-label">prezime: </label> {{student.prezime}}
  </div>
  <div class="container-fluid">
    <label class="control-label">indeks: </label> {{student.indeks}}
  </div>
  <div class="container-fluid"><br/>
    <button type="button" routerLink="/edit/{{student.indeks}}"
            class="btn btn-warning">Uredi student
    </button>
  </div>
  <div class="container-fluid"><br/>
    <button type="button" class="btn btn-primary btn-sm" (click)="goBack()">Back</button>
  </div>
</div>

<!-- <p>Form value: {{ studentForm.value | json}}</p>
<p>Form status: {{ studentForm.status | json }}</p>
<p>Ime na studentot: {{studentForm.get('ime').value}}</p> -->
